

table.unstyledTable {
  border: 1px solid #000000;
  text-align: center;
}

table.unstyledTable td,
table.unstyledTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 10px;
}

table.unstyledTable thead {
  background: #DDDDDD;
  border-bottom: 2px solid #444444;
}

table.unstyledTable thead th {
  font-weight: normal;
}