<header>
  <div class="container">
    <a href="#" class="logo">Organizational Finance Manager</a>
    <nav>
      <ul>
        <!--<li><a href="#" routerLink="/">Home</a></li>
        <li><a href="google.com">UselessLink</a></li>-->
      </ul>
    </nav>
  </div>
</header>
    <ng-template [ngIf]="isHQ > 0" [ngIfElse]="none">
        <div class="edit">
          <button (click)="editHandlerHQ(1)">Create Company</button>
          <button (click)="editHandlerHQ(2)">Edit a Company's Employees</button>
          <button (click)="editHandlerHQ(3)">Delete a Company</button>
          <button (click)="HQDisplay()">Refresh Charts</button>
        </div>
    </ng-template>
    <ng-template #none>
        <div class="edit">
          <button (click)="editHandlerCompany(1)">Edit Salary</button>
          <button (click)="editHandlerCompany(2)">Add Employee</button>
          <button (click)="editHandlerCompany(3)">Delete Salary</button>
          <button (click)="companyDisplay()">Refresh Charts</button>
        </div>
    </ng-template>

<table class="unstyledTable" [innerHtml]="htmlToAdd"></table>
