.unstyledTable {
  border: 1px solid #000000;
  text-align: center;
}

.unstyledTable td,
.unstyledTable th {
  border: 1px solid #AAAAAA;
  padding: 4px 10px;
}

.unstyledTable thead {
  background: #DDDDDD;
}

.unstyledTable thead th {
  font-weight: normal;
  text-align: center;
}